## Merging

In [6]:
import pandas as pd

In [7]:
df1 = pd.read_csv("files/books.csv", sep=';')
df1

   bookID             title  authorID
0    1001      Мертвые души      1101
1    1002    Евгений Онегин      1102
2    1003  Руслан и Людмила      1102
3    1004           Ревизор      1101

In [8]:
df2 = pd.read_csv("files/authors.csv", sep=';')
df2

   authorID  author
0      1101  Гоголь
1      1102  Пушкин

In [16]:
df1.merge(df2, how="left", on="authorID")

   bookID             title  authorID  author
0    1001      Мертвые души      1101  Гоголь
1    1002    Евгений Онегин      1102  Пушкин
2    1003  Руслан и Людмила      1102  Пушкин
3    1004           Ревизор      1101  Гоголь